Cython
ipyleaflet
rdflib 
requests
geopandas
geodaisy 
pyproj 
shapely 
geomet 
psycopg2-binary
python-dotenv
pyloci==0.1.2
geojson
ipycytoscape
jupyter_contrib_nbextensions
itables
numpy
pandas
tdqm
pydotplus
